<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myas">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name="com.mbientlab.metawear.android.BtleService" />

        <activity android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme"/>

        <activity
            android:name=".WorkoutYoutube"
            android:label="@string/app_name" />

        <activity
            android:name=".TrunkRotationActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MetaWearMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myas.MetaWearMainActivity" />
        </activity>

        <activity
            android:name=".BridgeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MetaWearMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myas.MetaWearMainActivity" />
        </activity>

        <activity
            android:name=".TrunkBendActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MetaWearMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myas.MetaWearMainActivity" />
        </activity>

        <activity
            android:name=".MetaWearMainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".SensorPlacementTrunkRotation"
            android:label="@string/sensor_placement"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myas.MainActivity" />
        </activity>

        <activity
            android:name=".SensorPlacementTrunkBend"
            android:label="@string/sensor_placement"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myas.MainActivity" />
        </activity>

        <activity
            android:name=".SensorPlacementBridging"
            android:label="@string/sensor_placement"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myas.MainActivity" />
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>